body {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    font-size: 3.3vw;
    gap: 15px;
    margin: 0;
    padding: 0;

    /* CSS Variables */
    --buttonWidth: 500px;
    --buttonHeight: calc(0.18*var(--buttonWidth));
    --font: 3.3vw;

}

.fancy-button {
    display: flex;
    align-items: center;
    inset: 0px 15vw 0px 0px;
    background-color: rgba(199, 196, 196, 0.9);
    padding: calc(0.05*var(--buttonWidth));
    margin: calc(0.1*var(--buttonWidth));
    width: var(--buttonWidth);
    height: var(--buttonHeight);
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(85, 85, 85, 255);
    border-radius: 9px;
    box-sizing: border-box;
    font: 900 var(--font) Verdana, Geneva, Tahoma, sans-serif;
    outline-offset: 0.85rem;
    outline: 2px solid rgb(19, 18, 19);
    border: 2px solid rgb(173, 169, 169);
    /*offset-x | offset-y | blur-radius | spread-radius | color*/
    box-shadow: 0 0 0 calc(0.11*var(--buttonHeight)) rgba(0, 0, 0, 0.3),
        calc(0.03*var(--buttonHeight)) calc(0.03*var(--buttonHeight)) calc(0.05*var(--buttonHeight)) calc(0.01*var(--buttonHeight)) rgba(0, 0, 0, 0.45),
        inset 0 calc(0.46*var(--buttonHeight)) 0 0 rgba(215, 213, 213, 0.966);
    justify-content: center;

}


.fancy-button::before {
    content: "★";
    margin: 10px;
    color: rgba(122, 116, 122, 0.9);
}

.fancy-button::after {
    content: "★";
    margin: 5px;
    color: rgba(122, 116, 122, 0.9);
}

form {
    display: flex;
    flex-direction: row;
    margin: 25px;
    width: 550px;
    height: 200px;
    align-items: center;
    flex-wrap: wrap;
    gap: calc(0.001 * var(--buttonWidth));
}

button {
    position: relative;
    align-self: center;
    background-color: rgba(255, 99, 72, 0.9);
    color: white;
    border: none;
    font: 900 calc(0.3*var(--font)) Verdana, Geneva, Tahoma, sans-serif;
    top: -10%;
    right: -30%;
    width: calc(0.30*var(--buttonWidth));
    height: calc(0.35*var(--buttonHeight));
    border-radius: 50px;
}

button:hover {
    cursor: pointer;
}

.form-field {
    position: relative;
    top: -3%;
    width: 200px;
}

.form-field::before {
    visibility: visible;
    display: inline-block;
    position: absolute;
    padding: 1px;
    width: 200px;
    height: 22px;
    top: -10px;
    z-index: 1;
    background: rgba(0, 0, 0, 255);
    box-shadow: calc(0.03*var(--buttonHeight)) calc(0.02*var(--buttonHeight)) calc(0.05*var(--buttonHeight)) calc(0.01*var(--buttonHeight)) rgba(63, 62, 62, 0.75);
    content: attr(data-hint);
    font: calc(0.28 * var(--font)) Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;

}

.form-field::after {
    visibility: visible;
    display: inline-block;
    position: absolute;
    content: ".";
    background: rgba(0, 0, 0, 255);
    box-shadow: 3px 2px 5px 1px rgba(63, 62, 62, 0.75);
    color: white;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    z-index: 0;
    top: -4px;
    right: 150px;
    font-size: 1px;
}

label {
    font: 500 calc(0.5 * var(--font)) Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

input {
    border: none;
    border-bottom: 1px solid black;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font: calc(0.5 * var(--font)) Verdana, Geneva, Tahoma, sans-serif;
    width: 270px;
}

input:focus {
    outline: none;
}